.image-upload-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.image-upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.image-upload-box input {
  margin-bottom: 10px;
}

.image-preview-container {
  width: 450px; /* Adjust the width as needed */
  height: 450px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.upload-wrapper {
  width: 800px;
  margin: 0 auto;
}
